/* ==========================================
   MORPHOSIS SIDEBAR - ERPNext v16
========================================== */

/* Left Sidebar */
.layout-side-section,
.layout-side-section .sidebar-menu,
.standard-sidebar,
.standard-sidebar-section,
.standard-sidebar-item-container,
.desk-sidebar,
.desk-sidebar-section {

    background: #080226 !important;
}

/* Sidebar Content */
.layout-side-section *{
    color:#ffffff !important;
}

/* Sidebar Items */
.standard-sidebar-item,
.sidebar-item-container a,
.tree-link,
.workspace-sidebar-item{

    background: transparent !important;
    color:#ffffff !important;

    border-radius:12px;

    margin:4px 8px;

}

/* Hover */

.standard-sidebar-item:hover,
.sidebar-item-container a:hover,
.tree-link:hover{

    background:#1b0b52 !important;

}

/* Active */

.standard-sidebar-item.selected,
.sidebar-item-container.selected,
.standard-sidebar-item.active{

    background:#241062 !important;

    border-left:4px solid #ffffff;

}

/* Search */

.layout-side-section input{

    background:#160844 !important;

    border:1px solid #32206d !important;

    color:white !important;

}

/* User Area */

.sidebar-user,
.user-info{

    background:#080226 !important;

}

/* Collapse Button */

.sidebar-toggle{

    background:#080226 !important;

    color:white !important;

}
