/* ==========================================
   MORPHOSIS ERPNext Theme Variables
   Brand Color: #080226
========================================== */

/*  */

:root{
    --surface-menu-bar:#080226 !important;
    --sidebar-border-color:#32206d !important;
}
html,
body{

    background:var(--bg)!important;
    color:var(--text)!important;

}

a{

    color:var(--link)!important;

}

a:hover{

    color:var(--link-hover)!important;

}

h1,
h2,
h3,
h4,
h5,
h6{

    color:#fff!important;

}



.text-muted{

    color:var(--text-muted)!important;

}


.btn-primary{

    background:#fff!important;
    color:#080226!important;
    border:none!important;

}

.btn-primary:hover{

    background:#ececec!important;

}

.btn-default,
.btn-secondary{

    background:var(--bg-secondary)!important;
    color:#fff!important;
    border:1px solid var(--border)!important;

}


.form-control{

    background:var(--bg-secondary)!important;
    border:1px solid var(--border)!important;
    color:#fff!important;

}

.form-control::placeholder{

    color:#bcbcd4!important;

}

.form-control:focus{

    border-color:#fff!important;
    box-shadow:0 0 0 3px rgba(255,255,255,.12)!important;

}


::-webkit-scrollbar{

    width:10px;
    height:10px;

}

::-webkit-scrollbar-track{

    background:#0b0328;

}

::-webkit-scrollbar-thumb{

    background:#5642a5;
    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#6f59d3;

}
