/* ==========================================
   DESK ONLY (Home Page)
========================================== */

/* Only when URL is /desk */
body[data-route=""] .workspace-page,
body[data-route=""] .workspace-body,
body[data-route=""] .desktop-page,
body[data-route=""] .layout-main-section,

body[data-route="desk"] .workspace-page,
body[data-route="desk"] .workspace-body,
body[data-route="desk"] .desktop-page,
body[data-route="desk"] .layout-main-section{

    background:#080226 !important;

}

/* Only Desk shortcuts */
body[data-route=""] .shortcut-widget-box,
body[data-route="desk"] .shortcut-widget-box{

    background:transparent !important;
    border:none !important;
    box-shadow:none !important;

}
/* Desk app names */
body[data-route="desk"] .desktop-container .icon-title,
body[data-route=""] .desktop-container .icon-title {
    color: #ffffff !important;
}
/* Desk app names */
body[data-route=""] .shortcut-label,
body[data-route="desk"] .shortcut-label{

    color:#ffffff !important;

}

/* ===========================
   ERPNext Modern Dashboard
=========================== */

/* Background */
.workspace-page,
.desktop-page,
.layout-main-section {
    background: linear-gradient(135deg,#090522,#11153d) !important;
}

/* Icons Container */
.desktop-container .icons {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
    gap: 24px;
    padding: 25px;
}

/* Card */
.desktop-container .desktop-icon {
    background: rgba(255,255,255,.04) !important;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 16px;
    padding: 22px 16px;
    transition: .3s;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Hover */
.desktop-container .desktop-icon:hover {
    transform: translateY(-6px);
    background: rgba(255,255,255,.08) !important;
    box-shadow: 0 12px 35px rgba(0,0,0,.35);
}

/* Icon Box */
.desktop-container .icon-container {
    width: 72px;
    height: 72px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

/* App Name */
.desktop-container .icon-title {
    color: #fff !important;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

/* Description */
.desktop-container .icon-subtitle {
    color: rgba(255,255,255,.75) !important;
    font-size: 13px;
    margin-top: 8px;
    line-height: 20px;
}

/* Hide description if you don't want it */
.desktop-container .icon-subtitle:empty{
    display:none;
}

/* Rounded Search */
.search-bar,
.navbar .search-bar {
    border-radius: 14px !important;
}

/* Navbar */
.navbar {
    background: rgba(255,255,255,.95) !important;
    backdrop-filter: blur(10px);
}
