/* ==========================================
   DESK ONLY (Home Page)
========================================== */

/* Only when URL is /desk */
body[data-route=""] .workspace-page,
body[data-route=""] .workspace-body,
body[data-route=""] .desktop-page,
body[data-route=""] .layout-main-section,

body[data-route="desk"] .workspace-page,
body[data-route="desk"] .workspace-body,
body[data-route="desk"] .desktop-page,
body[data-route="desk"] .layout-main-section{

    background:#080226 !important;

}

/* Only Desk shortcuts */
body[data-route=""] .shortcut-widget-box,
body[data-route="desk"] .shortcut-widget-box{

    background:transparent !important;
    border:none !important;
    box-shadow:none !important;

}

/* Desk app names */
body[data-route=""] .shortcut-label,
body[data-route="desk"] .shortcut-label{

    color:#ffffff !important;

}
